[Unit]
Description=katya-gluco-bot application service
After=syslog.target network.target

[Service]
TimeoutStartSec=180
SuccessExitStatus=143
User=root
Group=root
Type=simple
StandardOutput=journal
EnvironmentFile=/home/iot/apps/katya-gluco-bot/katya-gluco-bot.env
ExecStart=/usr/lib/jvm/zulu21.34.19-ca-jdk21.0.3-linux_x64/bin/java -Xms32m -Xmx256m -server -jar /home/iot/apps/katya-gluco-bot/katya-gluco-bot-1.0.0.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
